data/*
aster_weights/*
!aster_weights/.keep
experiments/*
!experiments/.keep
.idea/*
__pycache__
projector/perceptual_weights/*
!projector/perceptual_weights/lin/.keep
!projector/perceptual_weights/vgg/.keep
.pytest_cache
.coverage
.DS_Store
